body {
  background-color: #282c34;
  color: aliceblue;
}


.container {
  display: flex;
  min-height: 100vh;
}

.credit-card-form {
  /* border: 1px solid yellow; */
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-submit-button {
  margin-top: 1rem;
}

.box {
  background: rgb(0, 132, 255);
  border: 1px solid white;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.ccv-input {
  width: 5rem;
}
.date-of-expiry-month {
  width: 2rem;
}
.date-of-expiry-year {
  width: 2rem;
}
