body {
  background-color: #282c34;
  color: aliceblue;
}


.container {
  display: flex;
  min-height: 100vh;
}

.box {
  border: 1px solid maroon;
  text-align: center;
  margin: auto;
}

.ccv-input {
  width: 5rem;
}
.date-of-expiry-month {
  width: 2rem;
}
.date-of-expiry-year {
  width: 2rem;
}
